* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  .container-duskabini {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container-duskabini-card{
    width: 350px;
    height: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 5px;
  }
  .container-seramik-card img{
    width: 100%;
  }
  .container-duskabini-card img:hover{
    transform: scale(1.05);
    transition: .6s;
  }
  