.container-main {
  display: flex;
  flex-direction: row;
}
.img-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
  opacity: 0;
  animation: fadeIn 0.8s ease-in-out 0.8s forwards;
  margin: 100px 30px 50px 0;
}

.img-container img {
  width: 550px;
  height: 400px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius: 5px;
}
.img-container .img-store {
  opacity: 0;
  animation: fadeIn 1.4s ease-in-out 1.4s forwards;
}
.about-container {
  flex: 1;
  margin-top: 100px;
  padding: 5px;
  margin-right: 10px;
  text-align: justify;
}
.about-container h2 {
  text-align: center;
  font-size: 45px;
  font-weight: 600;
}
.about-container h3 {
  text-align: center;
  font-weight: 500;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
@media only screen and (max-width: 1050px) {
  .container-main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .about-container {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .container-main {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .about-container h2 {
    font-size: 35px;
  }
  .about-container p {
    font-size: 15px;
  }
}

@media only screen and (max-width: 576px) {
  .about-container {
    margin-top: 10px;
    overflow: visible;
   
  }
  .about-container h2 {
    font-size: 32px;
  }
  .about-container p {
    font-size: 14px;
    line-height: 1.6;
    text-align: justify;
  }
  body {
    overflow-x: hidden;
  }
}
