.ref-container{
    height: auto;
    margin-top: 110px;
   
}
.ref-container h1{
    text-decoration: underline;
}
.ref-container p{
    text-align: left;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    margin-left: 200px;
}

@media only screen and (max-width: 768px) {
    .ref-container h1 {
        font-size: 2rem;
        text-align: center;
    }
    .ref-container p{
        text-align: left;
        text-transform: uppercase;
        font-weight: 350;
        font-size: 15px;
        margin-left: 175px;
    }
}

