* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container-seramik {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 40px;
  margin: 85px 0;
}
.container-seramik img {
  width: 300px;
  height: 320px;
}
.custom-card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  overflow: hidden;
}

.custom-card img:hover {
  transform: scale(1.05);
  transition: 0.6s;
}
