.container{
    width: 100%;
    z-index: 1000;
    font-family: 'Poppins', sans-serif;
}



@media only screen and (max-width: 768px) {
    header h1 {
        font-size: 4rem;
    }
}

@media only screen and (max-width: 576px) {
    header h1 {
        font-size: 3rem;
    }
}